@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

main {
    width: 80%;
    margin: auto;
}

#NavLine {
    margin-top: 20px;
}

#NavLine span:nth-child(1) {
    color: var(--color-primary);
}

#NavLine span:nth-child(2) {
    color: var(--color-secondary);
    text-decoration: underline;
}

#FormContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

#FormPicture img {
    width: 40vw;
    height: 850px;
}   

#FormForm form > p {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--color-secondary);
}

#FormForm {
    width: 40vw;
}

.FormItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.PartFormName {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#FormForm h1 {
    font-size: 46px;
    color: var(--color-secondary);
    margin-bottom: 10px;
}

#FormForm p {
    font-size: 20px;
    margin-bottom: 30px;
}   

.PartFormName input {
    width: 19vw
}

.FormItem input {
    height: 70px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid gray;
}

.FormItem select {
    height: 70px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid gray;
}

.FormItem label {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-secondary);
}


.RadioGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FormItemRad {
    display: flex;
    flex-direction: row;

}

.FormItemRad label {
    font-size: 20px;
    color: var(--color-secondary);
}

.FormItemRad input {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.FormItemRad{
    align-items: center;
}

.FormItemRad label {
    font-size: 25px;
}

.FormRad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#RadP {
    margin-bottom: 10px !important;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.Buttons button:nth-child(1) {
    width: 120px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border: red solid 2px;
    cursor: pointer;
}

.Buttons button:nth-child(2) {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
}

.FormItem .error-text {
    color: red;
    margin-top: 5px;
    margin-bottom: 0px !important;
    display: none;
}

.FormItem:has(input[type="email"]:invalid) {
    .error-text {
        display: block;
    }
}

@media (max-width: 500px) {
    #FormContainer {
        flex-direction: column;
        align-items: center;
    }

    #FormPicture {
        display: none;
    }

    #FormForm {
        width: 80vw;
    }

    .PartFormName {
        flex-direction: column;
    }

    .PartFormName input {
        width: 100%;
    }

    .FormRad {
        flex-wrap: wrap;
    }

    .FormItemRad {
        margin-bottom: 10px;
    }

    #FormForm form > h1 {
        font-size: 38px;
    }
}