@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}



.EmailListBaner {
    background-image: url(../img/Vrstva\ 9.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
    padding-top: 80px;
}

.EmailListBaner h6 {
    text-align: center;
    font-size: 35px;
}

.EmailListBaner p {
    text-align: center;
    margin-top: 5px;
    color: darkgray;
    font-size: 25px;
}


.EmailListBaner input {
    width: 300px;
    height: 50px;
    padding-left: 50px;
    background: url(../img/6.svg) no-repeat scroll 10px 15px;
    background-color: lightgray;
}

.EmailListBaner button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
}

.overfooter {
  color: white;
  display: flex;
}

.footer-container {
  display: flex;
  background: #c72027;      
  padding: 20px;
  gap: 40px;
  width: 60vw;
}

.footer-container-2 {
  display: flex;
  background: blue;      
  padding: 20px;
  gap: 40px;
  flex-direction: column;

}


.footer-column {
  flex: 1;
}

.footer-column h6 {
  margin-bottom: 50px;
  font-size: 20px;
}

.footer-container h3 {
  margin-bottom: 20px;
}

.footer-container p {
    text-align: justify;
    font-size: 12px;
    width: 250px;
}

.footer-container-2 h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-container-2 {
  gap: 5px ;
}

.footer-container-2 p {
  margin-top: 20px;
}

.footer-container-2 img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.links {
  display: flex;
  gap: 50px;
}

a {
  color: white;
}

.links ul {
  list-style: circle;
  padding-left: 20px;
}

.logo {
  margin-top: 40px;
  font-size: 50px;
  font-weight: bold;
}

.kontakt {
  background: #26385e;       
}

.social span {
  font-size: 26px;
  margin-right: 10px;
  cursor: pointer;
}


@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }

  .footer-container {
    width: 100vw;
    flex-direction: column;
  }
    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: darkgray;
        font-size: 20px;
    }

    .EmailListBanerForm {
        position: absolute;
        top: 75%;     
        left: 55%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .EmailListBanerForm input {
        width: 260px;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }
}
