@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


.footer {
  color: white;
  display: flex;
}

.footer-container {
  display: flex;
  background: #c72027;      
  padding: 20px;
  gap: 40px;
  width: 60vw;
}

.footer-container-2 {
  display: flex;
  background: blue;      
  padding: 20px;
  gap: 40px;
  flex-direction: column;

}


.footer-column {
  flex: 1;
}

.footer-column h6 {
  margin-bottom: 50px;
  font-size: 20px;
}

.footer-container h3 {
  margin-bottom: 20px;
}

.footer-container p {
    text-align: justify;
    font-size: 12px;
    width: 250px;
}

.footer-container-2 h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-container-2 {
  gap: 5px ;
}

.footer-container-2 p {
  margin-top: 20px;
}

.footer-container-2 img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Nabídka 2 sloupce */
.links {
  display: flex;
  gap: 50px;
}

a {
  color: white;
}

.links ul {
  list-style: circle;
  padding-left: 20px;
}

.logo {
  margin-top: 40px;
  font-size: 50px;
  font-weight: bold;
}

/* Pravá část kontakt */
.kontakt {
  background: #26385e;       /* modrý blok */
}

.social span {
  font-size: 26px;
  margin-right: 10px;
  cursor: pointer;
}


/* Responzivita */
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }

  .footer-container {
    width: 100vw;
    flex-direction: column;
  }
}
