@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


.UHeader {
    background-color:var(--color-secondary);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}


.margin-left {
    margin-left: 5vh;
}

.margin-right {
    margin-right: 5vh;
}

.LHeader img[alt="CartICO"] {
    width: 30px;
    height: 30px;
    padding: 0;
}

.LHeader img[alt="HartICO"] {
    width: 30px;
    height: 30px;
}

.LHeader-2 img[alt="loupe"] {
    display: none;
}

.LHeader input {
    height: 30px;
    background: url(../img/loupe.svg) no-repeat scroll 2px 2px;

}

.LHeader-1 img {
    padding: 0;
    margin-left: 5vh;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LHeader {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.LHeader-1 {
    margin-left: 10px;
}

.LHeader-2 {
    gap: 10px;
}


.MItem {
    border: 2px solid gray;
    width: 19vw;
    height: 100px;
    align-content: center;
    text-align: center;
}

.MItem {
    color: black;
    text-decoration: none;
}


.MItem:hover {
    border: 2px solid red;
    color: red;
}

@media (max-width: 500px) {

    .margin-left {
        margin-left: 1vh;
    }

    .margin-right {
        margin-right: 1vh;
    }

    .UHeader-2 span {
        display: none;
    }

    .LHeader-2 img[alt="loupe"] {
        display: block;
    }

    .LHeader-2 input {
        display: none;
    }

    .MHeader {
        display: grid;
        grid-template-rows: repeat(2, 10vh);
        grid-template-columns: repeat(2, 49vw);
        gap: 2px;
    }   

    .MItem {
        width: auto;
        height: auto;
    }

    .MHeader a:nth-child(5) {
        display: none;
    }
}
