@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


.UHeader {
    background-color:var(--color-secondary);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.LHeader img[alt="CartICO"] {
    width: 30px;
    height: 30px;
    padding: 0;
}

.LHeader img[alt="HartICO"] {
    width: 30px;
    height: 30px;
}

.LHeader-2 img[alt="loupe"] {
    display: none;
}

.LHeader input {
    height: 30px;
    background: url(../img/loupe.svg) no-repeat scroll 2px 2px;

}

.LHeader-1 img {
    padding: 0;
    margin-left: 5vh;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LHeader {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.LHeader-1 {
    margin-left: 10px;
}

.LHeader-2 {
    gap: 10px;
}


.MItem {
    border: 2px solid gray;
    width: 19vw;
    height: 100px;
    align-content: center;
    text-align: center;
}

.MItem {
    color: black;
    text-decoration: none;
}


.MItem:hover {
    border: 2px solid red;
    color: red;
}

.EmailListBaner {
    background-image: url(../img/Vrstva\ 9.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
    padding-top: 80px;
}

.EmailListBaner h6 {
    text-align: center;
    font-size: 35px;
}

.EmailListBaner p {
    text-align: center;
    margin-top: 5px;
    color: darkgray
    font-size: 25px;
}


.EmailListBaner input {
    width: 300px;
    height: 50px;
    padding-left: 50px;
    background: url(../img/6.svg) no-repeat scroll 10px 15px;
    background-color: lightgray;
}

.EmailListBaner button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
}



@media (max-width: 500px) {
    .UHeader-2 span {
        display: none;
    }

    .LHeader-2 img[alt="loupe"] {
        display: block;
    }

    .LHeader-2 input {
        display: none;
    }

    .MHeader {
        display: grid;
        grid-template-rows: repeat(2, 10vh);
        grid-template-columns: repeat(2, 40vw);
        gap: 2px;
    }   

    .MItem {
        width: auto;
        height: auto;
    }

    .MHeader a:nth-child(5) {
        display: none;
    }
    
    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: gray;
        font-size: 20px;
    }

    .EmailListBanerForm {
        position: absolute;
        top: 75%;     
        left: 55%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .EmailListBanerForm input {
        width: 260px;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }
}
