@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

header {
      padding:  0; 
}

header * {
  margin: 0 ;        
  padding: 0 40px; 
}

.UHeader {
    background-color:var(--color-secondary);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.UHeader-2 {
    padding-right: 10px;
}

.LHeader img[alt="CartICO"] {
    width: 30px;
    height: 30px;
    padding: 0;
}

.LHeader img[alt="HartICO"] {
    width: 30px;
    height: 30px;
    padding: 0;
}



.LHeader input {
    height: 30px;
    background: url(../img/loupe.svg) no-repeat scroll 2px 2px;

}

.LHeader-1 img {
    padding: 0;
}

.LHeader {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.LHeader-1 {
    margin-left: 10px;
}

.LHeader-2 {
    gap: 10px;
}


.MItem {
    border: 2px solid black;
}