@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


.UHeader {
    background-color:var(--color-secondary);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.LHeader img[alt="CartICO"] {
    width: 30px;
    height: 30px;
    padding: 0;
}

.LHeader img[alt="HartICO"] {
    width: 30px;
    height: 30px;
}

.LHeader-2 img[alt="loupe"] {
    display: none;
}

.LHeader input {
    height: 30px;
    background: url(../img/loupe.svg) no-repeat scroll 1px 1px;
    padding-left: 30px;
}

.DownHeder {
    width: 80%;
    margin: auto;
}

.LHeader-1 img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.LHeader {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.LHeader-2 {
    gap: 10px;
}


.MItem {
    border: 2px solid gray;
    width: 19vw;
    height: 100px;
    align-content: center;
    text-align: center;
    font-size: 25px;
}

.MItem {
    color: black;
    text-decoration: none;
}


.MItem:hover {
    border: 2px solid red;
    color: red;
}




@media (max-width: 500px) {

    .DownHeder {
        width: 95%;
    }

    .UHeader-2 span {
        display: none;
    }

    .LHeader-2 img[alt="loupe"] {
        display: block;
    }

    .LHeader-2 input {
        display: none;
    }

    .MHeader {
        display: grid !important;
        grid-template-rows: repeat(2, 10vh);
        grid-template-columns: repeat(2, 47vw);
        gap: 2px;
    }   

    .MItem {
        width: 100%;
        height: auto;
    }

    .MHeader a:nth-child(5) {
        display: none;
    }
    
}
