@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
    /* 460 545*/
    --offer-size-row: 40vh; /*výška*/
    --offer-size-column: 19.5vw; /*šířka*/
}

.center {
  display: flex;
  justify-content: center;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


main {
    width: 80%;
    margin: auto;
}

.EmailListBaner {
    background-image: url(../img/Vrstva\ 9.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
    padding-top: 80px;
}

.EmailListBaner h6 {
    text-align: center;
    font-size: 35px;
}

.EmailListBaner p {
    text-align: center;
    margin-top: 5px;
    color: darkgray;
    font-size: 25px;
}


.EmailListBaner input {
    width: 300px;
    height: 50px;
    padding-left: 50px;
    background: url(../img/6.svg) no-repeat scroll 10px 15px;
    background-color: lightgray;
}

.EmailListBaner button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
}

.AdBaner p:nth-child(1) {
    font-size: 30px;
    color: var(--color-primary);
}

.AdBaner p:nth-child(2) {
    font-size: 30px;
    color: var(--color-primary);
    text-align: left;
}

.AdBaner p:nth-child(3) {
    font-size: 55px;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
}

.AdBaner p:nth-child(4) {
    font-size: 55px;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
}

.AdBaner button {
    color: white;
    background-color: var(--color-primary);
    font-size: 18px;
    width: 200px;
    height: 50px;
}



.AdBaner  {
    background-image: url(../img/Vrstva\ 3.png);
    background-repeat:  no-repeat;
    background-size: cover;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10%;
    padding-left: 50%;
    margin-top: 20px;
}

.catList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CatItem {
    width: 25vw;
    height: 25vh; 
    cursor: pointer;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-size: 40px;
    justify-content: center;
}

#BoyCat {
    background-image: url(../img/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#GirlCat {
    background-image: url(../img/02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#PickCat {
    background-image: url(../img/03-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CatList a  {
    text-decoration: none;
}

.CatItem:hover {
    color: red;
    text-decoration: underline;
}

.Devider div {
    margin-top: 20px;
    border-top: 2px solid var(--color-secondary);
    padding-right: 39.6vw;
}


.BootText {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.BootText span:nth-child(1) {
    color:var(--color-primary)
}

.BootText span:nth-child(2) {
    color:var(--color-secondary);
    font-weight: bold;
}

.Offers {
    display: grid;
    grid-template-columns: repeat(4, var(--offer-size-column));
    grid-template-rows: repeat(2, var(--offer-size-row));
    margin-bottom: 20px;
    gap: 20px   ;
}

.OfferItem img {
    width: 95%;
    height: 70%;
    margin-left: 10px;
    object-fit: contain ;
}

.OfferItem {
    width: var(--offer-size-column);
    height: var(--offer-size-row);
    border: 1px solid gray;
    color: gray;
    font-size: 25px;
}

.OfferItem > p {
    margin-left: 10px;
    margin-bottom: 2px;
}

.OfferPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.OfferPriceIMG {
    display: none;
    margin-left: 20%;
}

.OfferPriceIMG img {
    width: 70%;
    height: 70%;
}

.OfferPrice span:nth-child(1) {
    color: red;
    font-weight: bold;
}

.OfferPrice span:nth-child(2) {
    color: gray;
    text-decoration:line-through;

}

.OfferItemLink:hover {
    border: 1px solid red;
}

.OfferItemLink:hover .OfferPriceIMG {
    display: block;
}

.OffersButton button {
    color: white;
    background-color: var(--color-primary);
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.OffersButton {
    width: 80vw;
}

.AdMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.AdMenuItem a span{
    color: var(--color-secondary);
    padding-top: 25px;
    padding-left: 5px;
}

.AdMenuItem a img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    background-color: var(--color-secondary);
}

.AdMenuItem:hover span {
    color: red;
    text-decoration: underline;
}

.AdMenu a:hover img {
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    background-color: red;
}


@media (max-width: 500px) {
    
    main {
        width: 95%;
    }


    .AddBanerLink {
        display: none;
    }

    .CatList {
        flex-direction: column;
        gap: 20px;
    }

    .CatItem {
        width: 100%;
        height: 300px;
        padding-left: 30px;
    }

    .Offers a:nth-child(n+5) {
        display: none;
    }

    .BootText {
        display: flex;
        flex-direction: column;
    }

    .Offers {
        display: flex;
        flex-direction: column;
    }

    .OfferItem img {
        object-fit: contain;
        margin-left: 10px;
    }

    .OfferPriceIMG {
        margin-left: 35%;
    }
    .OfferItem {
        width: 95%;
        border: 0px;
    }
    
    .OfferItemLink {
        border: solid gray 1px;
    }

    .OfferItemLink:hover {
        border: 1px solid red;
    }

    /*
    .Offers a {
        border: 1px solid gray;
    }

    .OfferPrice span {
        width: 80px;
    }

    .OfferPriceIMG {
        width: 100px;
    }
        */

    .AdMenu {
        flex-direction: column;
        gap: 20px;
    }
    
    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: gray;
        font-size: 20px;
    }

    .EmailListBanerForm {
        position: absolute;
        top: 75%;     
        left: 55%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .EmailListBanerForm input {
        width: 260px;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }

    .Devider div {
        padding-right: 44vw;
    }

    .OffersButton {
        width: 100%;
    }

    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: darkgray;
        font-size: 20px;
    }

    .EmailListBanerForm input {
        width: 50vw;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }
}
