@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.margin-left {
    margin-left: 5vh;
}

.margin-right {
    margin-right: 5vh;
}

.AdBaner {
    background-image: url(../img/Vrstva\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 47.5vh 500px 47.5vh;
    margin-bottom: 200px;


}