@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
    /* 460 545*/
    --offer-size-row: 50vh;
    --offer-size-column: 19.5vw ;
}

.center {
  display: flex;
  justify-content: center;
}


.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

header {
    width: 80%;
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
}

.AdBaner p:nth-child(1) {
    font-size: 30px;
    color: var(--color-primary);
}

.AdBaner p:nth-child(2) {
    font-size: 30px;
    color: var(--color-primary);
    text-align: left;
}

.AdBaner p:nth-child(3) {
    font-size: 55px;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
}

.AdBaner p:nth-child(4) {
    font-size: 55px;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
}

.AdBaner button {
    color: white;
    background-color: var(--color-primary);
    font-size: 18px;
    width: 200px;
    height: 50px;
}



.AdBaner  {
    background-image: url(../img/Vrstva\ 3.png);
    background-repeat:  no-repeat;
    background-size: cover;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 10%;
    padding-left: 50%;
    margin-top: 20px;
}



.CatSelect {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.BoyCat {   
    background-image: url(../img/01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 390px;
    height: 200px;
}

.GirlCat {   
    background-image: url(../img/02.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 390px;
    height: 200px;
}
.PickCat {   
    background-image: url(../img/03-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 390px;
    height: 200px;
    margin-bottom: 30px;
}

.BoyCat div {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 30px;
    color: var(--color-secondary);
}

.GirlCat div {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 30px;
    color: var(--color-secondary);
}

.CatSelect div {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 30px;
    color: var(--color-secondary);
}

.CatCard {
    text-decoration: none;
}

.CatCard div:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.Devider div {
    margin-top: 20px;
    border-top: 2px solid var(--color-secondary);
    padding-right: 39.2vw;
}


.BootText {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.BootText span:nth-child(1) {
    color:var(--color-primary)
}

.BootText span:nth-child(2) {
    color:var(--color-secondary);
    font-weight: bold;
}

.Offers {
    display: grid;
    grid-template-columns: repeat(4, var(--offer-size-column));
    grid-template-rows: repeat(2, var(--offer-size-row));
    margin-bottom: 20px;
    gap: 20px   ;
}

.OfferItem img {
    width: 320px;
    height: 380px;
    margin-left: 10px;
}

.OfferItem {
    width: var(--offer-size-column);
    height: var(--offer-size-row);
    border: 1px solid gray;
    color: gray;
    font-size: 25px;
}

.OfferItem > p {
    margin-left: 10px;
    margin-bottom: 2px;
}

.OfferPrice {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.OfferPriceIMG img {
    width: 20%;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.OfferPriceIMG {
    width: 270px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    display: none;
}



.OfferPrice span:nth-child(1) {
    color: red;
    font-weight: bold;
}

.OfferPrice span:nth-child(2) {
    color: gray;
    text-decoration:line-through;

}

.OfferItemLink:hover {
    border: 1px solid red;

}



.OfferItemLink:hover .OfferPriceIMG {
    display: block;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.OffersButton button {
    color: white;
    background-color: var(--color-primary);
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.OffersButton {
    width: 80vw;
}

.AdMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.AdMenuItem a span{
    color: var(--color-secondary);
    padding-top: 25px;
    padding-left: 5px;
}

.AdMenuItem a img {
    width: 75px;
    height: 75px;
}

.AdMenuItem:hover span {
    color: red;
    text-decoration: underline;
}


@media (max-width: 500px) {
    .AddBanerLink {
        display: none;
    }

    .CatSelect {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BootText {
        display: flex;
        flex-direction: column;
    }

    .Offers {
        display: flex;
        flex-direction: column;
    }

    .OfferItem {
        height: 600px;
        border: 0px;
    }
    /*
    .Offers a {
        border: 1px solid gray;
    }

    .OfferPrice span {
        width: 80px;
    }

    .OfferPriceIMG {
        width: 100px;
    }
        */

    .AdMenu {
        flex-direction: column;
        gap: 20px;
    }
    
    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: gray;
        font-size: 20px;
    }

    .EmailListBanerForm {
        position: absolute;
        top: 75%;     
        left: 55%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .EmailListBanerForm input {
        width: 260px;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }
}
