@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
    /* 460 545*/
    --offer-size-row: 50vh;
    --offer-size-column: 19.5vw ;
}

.center {
  display: flex;
  justify-content: center;
}


.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


main {
    width: 80%;
    margin: auto;
}

#NavLine {
    margin-top: 20px;
}

#NavLine span:nth-child(1) {
    color: var(--color-primary);
}

#NavLine span:nth-child(2) {
    color: var(--color-primary);
}

#NavLine span:nth-child(3) {
    color: var(--color-secondary);
    text-decoration: underline;
}

#ProductGalery {
    display: flex;
    flex-direction: row;
}


#Pictures {
    display: grid;
    width: 55vw;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(4, 20%);
    gap: 10px;
}


.PictureInGalery {
    border: 1px solid lightgray;
    position: relative;
    display: inline-block;
}

.PictureInGalery img {
    width: 100%;
    height: 100%;
    display: block;

}

.PictureInGalery::after {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  opacity: 0;
  transition: .3s ease;
}

.PictureInGalery:hover::after {
    opacity: 0.35;
}

#Pictures .PictureInGalery:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#MenuText {
    width: 45vw;
}

#MenuTextText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#MenuTextText p {
    font-size: 35px;
    color: var(--color-secondary);
    width: 55%;
    font-weight: bold;
}

#MenuTextText img {
    width: auto;
    height: 50px;
    margin-top: 5px;
}

#MenuText > p {
    font-size: 18px;
    color: lightgray;
    margin-top: 40px;
    margin-bottom: 50px;
}


.divider {
    border-top: 1px;
    border-color: lightgray;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 30px;
}

#UserPick {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ColorSelection {
    display: flex;
    flex-direction: row;
    gap: 20px   ;
}

#SizeSelection {
    display: flex;
    flex-direction: row;
    gap: 20px ;
}

.ColorInPicker {
    border: 2px solid gray;
    border-radius: 20px;
    background-color: rebeccapurple;
    padding: 10px;
}

