@import url(./Variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.center {
  display: flex;
  justify-content: center;
}


.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}


main {
    width: 80%;
    margin: auto;
}

.EmailListBaner {
    background-image: url(../img/Vrstva\ 9.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
    padding-top: 80px;
}

.EmailListBaner h6 {
    text-align: center;
    font-size: 35px;
}

.EmailListBaner p {
    text-align: center;
    margin-top: 5px;
    color: darkgray;
    font-size: 25px;
}


.EmailListBaner input {
    width: 300px;
    height: 50px;
    padding-left: 50px;
    background: url(../img/6.svg) no-repeat scroll 10px 15px;
    background-color: lightgray;
}

.EmailListBaner button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
}
#NavLine {
    margin-top: 20px;
}

#NavLine span:nth-child(1) {
    color: var(--color-primary);
}

#NavLine span:nth-child(2) {
    color: var(--color-primary);
}

#NavLine span:nth-child(3) {
    color: var(--color-secondary);
    text-decoration: underline;
}

#ProductGalery {
    display: flex;
    flex-direction: row;
}


#Pictures {
    display: grid;
    width: 55vw;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(4, 20%);
    gap: 10px;
}


.PictureInGalery {
    border: 1px solid lightgray;
    position: relative;
    display: inline-block;
}

.PictureInGalery img {
    width: 100%;
    height: 100%;
    display: block;

}

.PictureInGaleryHover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  opacity: 0;
  transition: .3s ease;
}

.PictureInGaleryHover:hover::after {
    opacity: 0.35;
}

#Pictures .PictureInGalery:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#MenuText {
    width: 45vw;
}

#MenuTextText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#MenuTextText p {
    font-size: 35px;
    color: var(--color-secondary);
    width: 55%;
    font-weight: bold;
}

#MenuTextText img {
    width: auto;
    height: 50px;
    margin-top: 5px;
}

#MenuText > p {
    font-size: 15px;
    color: lightgray;
    margin-top: 40px;
    margin-bottom: 50px;
}


.Pdivider {
    border-top: 1px;
    border-color: lightgray;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

#UserPick {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ColorSelection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#SizeSelection {
    display: flex;
    flex-direction: row;
    gap: 10px ;
    justify-content: center;
}

.ColorInPicker {
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px;
}

.ColorBlue {background-color: var(--color-secondary);}
.ColorBlack {background-color:black}
.ColorRed {background-color: red}
.ColorGrean {background-color: #acd373}

.ColorActive {border-color: red;}

.SizeInPicker {
    font-size: 25px;
}

.GraidOut {color: gray; text-decoration: line-through;}
.TextActive {color: red; text-decoration: underline;}

#UserPick p{
    font-size: 20px;
    margin-bottom: 10px;
}

#SubText p {
    color: var(--color-secondary);
    font-size: 40px;
    font-weight: bold;
}

#SubText > span {
    text-decoration: line-through;
    color: lightgray;
    font-size: 30px;
}

#SubSubText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#SubSubText span {
    font-size: 40px;
    color: red;
    font-weight: bold;
}

#SubSubText button {
    height: 50px;
    width: 40%;
    background-image: url(../img/Group\ 6.png);
    background-repeat: no-repeat;
    background-position: center left 5px;
    background-color: red;
    color: white;
}

#Description {
    display: flex;
    flex-direction: row;
}

#DescriptionText {
    width: 70%;
}

#DescriptionTable {
    width: 30%;
}

#DescriptionText h3 {
    color: var(--color-secondary);
    margin-bottom: 10px;
}

#DescriptionText p {
    color: #aeb2c0;
    margin-bottom: 20px;
}

#DescriptionText span {
    color: var(--color-secondary);
    font-weight: bold;
}

#DescriptionTable table {
    width: 100%;
    height: 100%;
}

#DescriptionTable table thead tr th {
    background-color: var(--color-secondary);
    color: white;
}

#DescriptionTable table tbody tr:nth-child(odd) {
    background-color: #d6d9e2;
}

#DescriptionTable table {
    border-spacing: 0;
    border-collapse: collapse;
    color: #aeb2c0;
}

#DescriptionTable table tr td:nth-child(odd) {
    color: var(--color-secondary);
}

#DescriptionTable table tr td:nth-child(even) {
    color: #8c94a9;
}


.Devider div {
    margin-top: 20px;
    border-top: 2px solid var(--color-secondary);
    padding-right: 39.6vw;
}

#DeviderText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#DeviderText span:nth-child(1) {
    color: var(--color-primary);
    font-size: 30px;
    margin-right: 5px;
}

#DeviderText span:nth-child(2) {
    color: var(--color-secondary);
    font-size: 30px;
    font-weight: bold;
}

.Offers {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px   ;
}

.OfferItem img {
    width: 95%;
    height: 70%;
    margin-left: 10px;
    object-fit: contain;
}

.OfferItem {
    width: 19.5vw;
    height: 400px;
    border: 1px solid gray;
    color: gray;
    font-size: 25px;
    overflow: hidden;
}

.OfferItem > p {
    margin-left: 10px;
    margin-bottom: 2px;
}

.OfferPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.OfferPriceIMG {
    display: none;
    margin-left: 20%;
}

.OfferPriceIMG img {
    width: 70%;
    height: 70%;
}

.OfferPrice span:nth-child(1) {
    color: red;
    font-weight: bold;
}

.OfferPrice span:nth-child(2) {
    color: gray;
    text-decoration:line-through;

}

.OfferItemLink:hover .OfferItem {
    border: 1px solid red;
}

.OfferItemLink:hover .OfferPriceIMG {
    display: block;
}

.OffersButton button {
    color: white;
    background-color: var(--color-primary);
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.OffersButton {
    width: 80vw;
}

.AdMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

.AdMenuItem a span{
    color: var(--color-secondary);
    padding-top: 25px;
    padding-left: 5px;
}

.AdMenuItem a div img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    background-color: var(--color-secondary);
    object-fit: contain;
}

.AdMenuItem:hover span {
    color: red;
    text-decoration: underline;
}

.AdMenu a:hover img {
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    background-color: red;
}

@media (max-width: 500px) {
    
    main {
        width: 95%;
        margin: auto;
    }

    #Pictures {
        width: 100%;
        justify-content: center;
    }
    
    #ProductGalery {
        flex-direction: column;
    }

    #MenuTextText img {
        display: none;
    }
    
    #MenuTextText p {
        width: 100%;
    }
    
    #MenuText {
        width: 100%;
    }

    #UserPick {
        flex-direction: column;
    }

    #SizeSelection {
        justify-content: flex-start;
    }

    #Description {
        flex-direction: column;
        width: 100%;
    }

    #DescriptionText {
        width: 100%;
    }

    #DescriptionTable {
        width: 100%;
        height: 350px;
    }

    .Devider div {
        padding-right: 44vw;
    }

    .Offers {
        flex-direction: column;
    }

    .OfferItem {
        width: 100%;    
        height: 400px;
    }


    .AdMenu {
        flex-direction: column;
        gap: 20px;
    }
    
    .AdMenuItem {
        font-size: 30px;
        justify-content: center;
    }

    #hide {
        display: none;
    }

    .EmailListBanerText {
        width: 400px;
    }

    .EmailListBanerText h6 {
        text-align: center;
        font-size: 35px;
    }

    .EmailListBanerText p {
        text-align: center;
        margin-top: 5px;
        color: darkgray;
        font-size: 20px;
    }

    .EmailListBanerForm input {
        width: 50vw;
        height: 50px;
    }

    .EmailListBanerForm button {
        width: 100px;
        height: 50px;
    }
}