* {
    box-sizing: border-box;
    font-family: Roboto;
    
}

#Logo {
    text-align: center;
}

#heading > h1 {
    text-align: center;
    color: #4777a8;
    font-size: 100px;
    margin-left: 50px;
}

#subHading h2  {
    margin-left: 50px;
    color: orange;

}