.wrapper {
    max-width: 100vw;
    overflow-x: scroll;
}

table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    font-size: 0.8rem;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid;
    padding: 4px 6px;
}


tbody tr:nth-child(even) {
    background-color: pink;
}

@media only screen and (max-width: 786px) {
    table, th, td {
        border: none;
    }

    table {
        display: block;
        width: 100%;
        min-width: initial;
    }
    thead {
        display: none;
    }

    tbody tr {
        display: block;
        margin-bottom: 15px;
        border: solid 1px black;
        border-radius: 8px;
    }

    tbody td {
        display: block;
        border-bottom: solid 1px black ;
        position: relative;
        padding: 10px 10px 10px 50%;
        text-align: right;
    }

    tbody td::before {
        content: attr(data-label);
         position: absolute;
         left: 10px;
         width: 45%;
         text-align: left;
    }

}